In [1]:
import pandas as pd
import wrangle

In [2]:
df = pd.read_csv('Hotel_Reviews.csv')

In [3]:
df = wrangle.wrangle_hotel(df)

In [4]:
# import nltk
# import unicodedata
# import re

# def basic_clean(string):
#     '''
#     This function takes in a string and
#     returns the string normalized.
#     '''
#     string = unicodedata.normalize('NFKD', string)\
#              .encode('ascii', 'ignore')\
#              .decode('utf-8', 'ignore')
#     string = re.sub(r'[^\w\s]', '', string).lower()

#     return string

# def tokenize(string):
#     '''
#     This function takes in a string and
#     returns a tokenized string.
#     '''
#     # Create tokenizer.
#     tokenizer = nltk.tokenize.ToktokTokenizer()
    
#     # Use tokenizer
#     string = tokenizer.tokenize(string, return_str = True)

#     return string

# def stem(string):
#     '''
#     This function takes in a string and
#     returns a string with words stemmed.
#     '''
#     # Create porter stemmer.
#     ps = nltk.porter.PorterStemmer()
    
#     # Use the stemmer to stem each word in the list of words we created by using split.
#     stems = [ps.stem(word) for word in string.split()]
    
#     # Join our lists of words into a string again and assign to a variable.
#     string = ' '.join(stems)
    
#     return string

# def lemmatize(string):
#     '''
#     This function takes in string for and
#     returns a string with words lemmatized.
#     '''
#     # Create the lemmatizer.
#     wnl = nltk.stem.WordNetLemmatizer()
    
#     # Use the lemmatizer on each word in the list of words we created by using split.
#     lemmas = [wnl.lemmatize(word) for word in string.split()]
    
#     # Join our list of words into a string again and assign to a variable.
#     string = ' '.join(lemmas)
    
#     return string

In [5]:
# from nltk.corpus import stopwords

# def remove_stopwords(string, extra_words = [], exclude_words = []):
#     '''
#     This function takes in a string, optional extra_words and exclude_words parameters
#     with default empty lists and returns a string.
#     '''
#     # Create stopword_list.
#     stopword_list = stopwords.words('english')
    
#     # Remove 'exclude_words' from stopword_list to keep these in my text.
#     stopword_list = set(stopword_list) - set(exclude_words)
    
#     # Add in 'extra_words' to stopword_list.
#     stopword_list = stopword_list.union(set(extra_words))

#     # Split words in string.
#     words = string.split()
    
#     # Create a list of words from my string with stopwords removed and assign to variable.
#     filtered_words = [word for word in words if word not in stopword_list]
    
#     # Join words in the list back into strings and assign to a variable.
#     string_without_stopwords = ' '.join(filtered_words)
    
#     return string_without_stopwords

In [6]:
# df.clean_pos_review.apply(remove_stopwords)

In [7]:
# def nlp_clean(df):
#     '''
#     This function takes in a Customer Review Data and returns NLP prep.
#     '''
#     # Apply basic clean and tokenize to each review.
#     df['positive_review'].apply(basic_clean).apply(tokenize)
#     df['negative_review'].apply(basic_clean).apply(tokenize)
#     # Apply stem to each review.
#     df['positive_stem'] = [stem(review) for review in df.positive_review]
#     df['negative_stem'] = [stem(review) for review in df.negative_review]
#     # Apply lemmatize to each review.
#     df['positive_lemma'] = [lemmatize(review) for review in df.positive_review]
#     df['negative_lemma'] = [lemmatize(review) for review in df.negative_review]
#     return df

In [8]:
# df['positive_review'].apply(basic_clean).apply(tokenize)
# df['positive_stem'] = [stem(review) for review in df.positive_review]
# df['lemma_pos_review'] = [lemmatize(review) for review in df.positive_review]

In [9]:
# df['clean_pos_review'] = df['positive_review'].apply(basic_clean)
# df['clean_neg_review'] = df['negative_review'].apply(basic_clean)

In [10]:
# df['positive_token'] =tokenize(df['clean_pos_review'])
# df['negative_token'] =tokenize(df['clean_neg_review'])

In [11]:
# df['positve_stem'] = [stem(review) for review in df.clean_pos_review]
# df['negative_stem'] = [stem(review) for review in df.clean_neg_review]

In [12]:
# df['lemma_pos_review'] = [lemmatize(review) for review in df.clean_pos_review]
# df['lemma_neg_review'] = [lemmatize(review) for review in df.clean_neg_review]

In [13]:
df = wrangle.nlp_clean(df)

In [14]:
df.head()

,hotel_address,additional_number_of_scoring,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,...,day_name,day,quarter,negative_unique_word_count,positive_unique_word_count,location,positive_stem,negative_stem,positive_lemma,negative_lemma
review_date,,,,,,,,,,,,,,,,,,,,,
2015-08-04,225 Edgware Road Westminster Borough London W2...,1485,7.5,Hilton London Metropole,United Kingdom,First day the swimming pool was not opened th...,54,6977,The hotel was clean and accessible,8,...,Tuesday,4,3,39,6,United Kingdom,the hotel wa clean and access,first day the swim pool wa not open therefor i...,The hotel wa clean and accessible,First day the swimming pool wa not opened ther...
2015-08-04,7 Rue des Petits H tels 10th arr 75010 Paris F...,125,8.6,Hotel Mademoiselle,United Kingdom,No Negative,0,853,very good location breakfast was great,7,...,Tuesday,4,3,2,6,Paris France,veri good locat breakfast wa great,no neg,very good location breakfast wa great,No Negative
2015-08-04,Parkring 12a 01 Innere Stadt 1010 Vienna Austria,130,8.2,Vienna Marriott Hotel,Qatar,Nothing,2,939,It was very nice excellent hotel,7,...,Tuesday,4,3,1,6,Vienna Austria,it wa veri nice excel hotel,noth,It wa very nice excellent hotel,Nothing
2015-08-04,Europaboulevard 10 Zuideramstel 1083 AD Amster...,341,7.8,Novotel Amsterdam City,Austria,No Negative,0,2501,Slightly out of the city center but very easy...,27,...,Tuesday,4,3,2,23,Amsterdam Netherlands,slightli out of the citi center but veri easi ...,no neg,Slightly out of the city center but very easy ...,No Negative
2015-08-04,Holland Park Avenue Kensington and Chelsea Lon...,843,7.8,Hilton London Kensington Hotel,Qatar,No Negative,0,3801,Great easy to reAch location,6,...,Tuesday,4,3,2,5,United Kingdom,great easi to reach locat,no neg,Great easy to reAch location,No Negative