# Booking.com Hotel Review NLP

Features by relationship

Hotel
- address
- hotel name
- lat
- long
- total_number_of_reviews
- additional_number_of_scoring
- average_score

reviewer
- review_nationality
- total_number_of_reviews_reviewer_has_given
- reviewer_score
- tags

review
- negative_review
- review_total_negative_word_counts
- negative_unique_word_count
- positive_review
- review_total_postive_word_counts
- positive_uniqu_word_count
- days_since_review

date
- month
- year
- day_name
- day
- quarter

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import re
import wrangle

pd.options.display.max_colwidth = None
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# Acquire

- How do we aquire this from the webpage programatically?

In [2]:
hotel = pd.read_csv('Hotel_Reviews.csv')

In [3]:
hotel = wrangle.wrangle_hotel(hotel)

In [4]:
hotel.head(1)

,additional_number_of_scoring,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,days_since_review,lat,lng,trip_type,nights_stayed,group_type,month,year,day_name,day,quarter,negative_unique_word_count,positive_unique_word_count,street,city,zip_code,country
review_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-08-04,1485,7.5,Hilton London Metropole,United Kingdom,First day the swimming pool was not opened therefore i could not access the facilities Finaly the receptionist fid not clarify that i would unable to move my car and did not stamp my car parking so i can come in and out Therefore i had to pay 50 for one day,54,6977,The hotel was clean and accessible,8,4,7.5,730,51.519569,-0.170521,leisure,2,group,August,2015,Tuesday,4,3,39,6,225 Edgware Road Westminster Borough,London,W2 1JU,United Kingdom

# Wrangle

### Wrangle Function

In [5]:
# def wrangle_hotel(df):
#     '''
#     Wrangle Start
#     '''
    
#     # lower case column names
#     df.columns = [col.lower() for col in df]
    
#     # Set the review date as a datetime object then set it as the index
#     df.review_date = pd.to_datetime(df.review_date)
#     df = df.set_index('review_date').sort_index()
    
#     # Create columns for date types to groupby
#     df['month'] = df.index.month_name()
#     df['year'] = df.index.year
#     df['day_name'] = df.index.day_name()
#     df['day'] = df.index.day
#     df['quarter'] = df.index.quarter
    
#     # Unique word counts for positive and negative reviews
#     df['negative_unique_word_count'] = [len(set(nr.split())) for nr in df.negative_review]
#     df['positive_unique_word_count'] = [len(set(pr.split())) for pr in df.positive_review]
    
#     # remove day string and make int type
#     df.days_since_review = [row.split()[0] for row in df.days_since_review]
#     df.days_since_review = df.days_since_review.astype('int')
    
#     street = []
#     city = []
#     zip_code = []
#     country = []

#     for address in hotel.hotel_address:

#         if address.split()[-1] in ['France','Netherlands','Italy']:

#             street.append(' '.join(address.split()[:-4]))
#             zip_code.append(' '.join(address.split()[-4:-2]))
#             city.append(' '.join(address.split()[-2:-1]))
#             country.append(' '.join(address.split()[-1:]))

#         elif address.split()[-1] in ['Spain','Austria']:

#             street.append(' '.join(address.split()[:-3]))
#             zip_code.append(' '.join(address.split()[-3:-2]))
#             city.append(' '.join(address.split()[-2:-1]))
#             country.append(' '.join(address.split()[-1:]))

#         else:
#             if address.split()[-6]
#             street.append(' '.join(address.split()[:-5]))
#             city.append(' '.join(address.split()[-5:-4]))
#             zip_code.append(' '.join(address.split()[-4:-2]))
#             country.append(' '.join(address.split()[-2:]))

#     hotel['street'] = street
#     hotel['city'] = city
#     hotel['zip_code'] = zip_code
#     hotel['country'] = country
    
#     # Break out tags into groups
#     df.tags = [[tag.strip().lower() for tag in (tags.replace('"','').replace("'","")
#                                      .replace('[','') .replace(']','')
#                                      .split(','))] for tags in df.tags]
    
#     return df

In [6]:
# lower case column names
# hotel.columns = [col.lower() for col in hotel]

In [7]:
# # Set the review date as a datetime object then set it as the index
# hotel.review_date = pd.to_datetime(hotel.review_date)
# hotel = hotel.set_index('review_date').sort_index()
# # Create columns for date types to groupby
# hotel['month'] = hotel.index.month_name()
# hotel['year'] = hotel.index.year
# hotel['day_name'] = hotel.index.day_name()
# hotel['day'] = hotel.index.day
# hotel['quarter'] = hotel.index.quarter

In [8]:
# # Unique word count for first row
# #len(set(hotel.negative_review[0].split()))

# # Unique word counts for positive and negative reviews
# hotel['negative_unique_word_count'] = [len(set(nr.split())) for nr in hotel.negative_review]
# hotel['positive_unique_word_count'] = [len(set(pr.split())) for pr in hotel.positive_review]

In [9]:
# # remove day string and make int type
# hotel.days_since_review = [row.split()[0] for row in hotel.days_since_review]
# hotel.days_since_review = hotel.days_since_review.astype('int')

In [10]:
# # Get Hotel Location
# hotel['location'] = [' '.join(col.split()[-2:]) for col in hotel.hotel_address]

In [11]:
# # Break out tags into groups
# hotel.tags = [[tag.strip().lower() for tag in (tags.replace('"','').replace("'","")
#                                      .replace('[','') .replace(']','')
#                                      .split(','))] for tags in hotel.tags]

In [12]:
# street = []
# city = []
# zip_code = []
# country = []

# for address in hotel.hotel_address:
    
#     if address.split()[-1] in ['France','Netherlands','Italy']:
        
#         street.append(' '.join(address.split()[:-4]))
#         zip_code.append(' '.join(address.split()[-4:-2]))
#         city.append(' '.join(address.split()[-2:-1]))
#         country.append(' '.join(address.split()[-1:]))
    
#     elif address.split()[-1] in ['Spain','Austria']:
        
#         street.append(' '.join(address.split()[:-3]))
#         zip_code.append(' '.join(address.split()[-3:-2]))
#         city.append(' '.join(address.split()[-2:-1]))
#         country.append(' '.join(address.split()[-1:]))
    
#     else:
#         if address.split()[-6]
#         street.append(' '.join(address.split()[:-5]))
#         city.append(' '.join(address.split()[-5:-4]))
#         zip_code.append(' '.join(address.split()[-4:-2]))
#         country.append(' '.join(address.split()[-2:]))

# hotel['street'] = street
# hotel['city'] = city
# hotel['zip_code'] = zip_code
# hotel['country'] = country

### Address

In [13]:
# We need to figure out a way to seperate out the address in to its parts.
# Street Address
# City
# Zip
# Country
# hotel.hotel_address.value_counts()

In [14]:
# [len(hotel) for hotel in hotel.hotel_address]

In [15]:
## Breakup into 5 Stages
# 399 Addresses
# pd.DataFrame(hotel.hotel_address[hotel.hotel_address.str.endswith('United Kingdom')])#.hotel_address.value_counts().size

## Breakup into four stages
# 105 Addresses
# pd.DataFrame(hotel.hotel_address[hotel.hotel_address.str.endswith('Netherlands')])#.hotel_address.value_counts().size
# 458 Addresses
# pd.DataFrame(hotel.hotel_address[hotel.hotel_address.str.endswith('France')]).hotel_address.value_counts().size

# 211 Addresses
# pd.DataFrame(hotel.hotel_address[hotel.hotel_address.str.endswith('Spain')])#.hotel_address.value_counts().size
# 158 Addresses
# pd.DataFrame(hotel.hotel_address[hotel.hotel_address.str.endswith('Austria')]).hotel_address.value_counts().size
# 162 Addresses
# pd.DataFrame(hotel.hotel_address[hotel.hotel_address.str.endswith('Italy')]).hotel_address.value_counts().size

In [16]:
#[col.split()[-6:] for col in hotel.hotel_address]

In [17]:
# hotel.hotel_address[hotel.hotel_address.str.endswith('Austria')]

In [47]:
hotel[['city','zip_code']].value_counts().sort_index()

city       zip_code
Amsterdam  1011 AK                530
           1011 DK               1254
           1011 KW                229
           1012 AD                792
           1012 CK               1177
           1012 CP                453
           1012 EX                195
           1012 JS               1243
           1012 KD                520
           1012 LG               1595
           1012 LP               1000
           1012 PV                871
           1012 RE                876
           1012 SJ                336
           1012 SZ                532
           1012 TM                790
           1012 VN                214
           1012 VX                778
           1012 WJ               1837
           1013 MM                916
           1013 ZX                467
           1014 AG               1686
           1015 CX                184
           1015 CZ                400
           1016 AZ                551
           1016 BJ                409
           1016 GB                104
           1016 GZ                300
           1017 BV                353
           1017 CG                142
           1017 CT                256
           1017 CV                647
           1017 DA                748
           1017 HE                194
           1017 HK               1110
           1017 JW                 17
           1017 KE                543
           1017 PN               1242
           1017 TV                258
           1017 XJ                 67
           1017 ZP                657
           1018 GV                 67
           1018 GX                 34
           1019 AZ                362
           1019 BR                520
           1031 KS                108
           1031 XP                143
           1033 WB                312
           1043 BP                856
           1043 EW               1071
           1052 LC                149
           1053 AT                355
           1054 BR                811
           1054 ES                784
           1054 EV                268
           1054 GE                522
           1054 GZ                 56
           1055 JE                845
           1057 JJ                139
           1057 PH               1704
           1058 GC               1364
           1062 EA               1809
           1064 HD                594
           1066 BP                941
           1066 BW                432
           1066 EP                432
           1067 HT                214
           1071 AN                138
           1071 CS                366
           1071 CT                312
           1071 VE                153
           1071 XL                239
           1071 ZD                636
           1072 CT                335
           1072 LH                459
           1072 LW                243
           1075 CZ                593
           1077 AN                 80
           1077 AP                372
           1077 BA                803
           1077 BG                279
           1077 BJ                567
           1077 WX               1178
           1082 GG                229
           1082 LD                298
           1082 MT                268
           1083 AD                533
           1083 HJ                286
           1087 BE                481
           1091 GL               1576
           1092 AA                405
           1093 EK                458
           1096 CJ                801
           1097 SC                401
           1101 AX               1157
           1101 BA                347
           1101 BE                282
           1101 CJ                473
           1105 AT                595
           1108 AB                506
Barcelona  08001                 2705
           08002                10174
           08003                 3349
           08004                 1519
           08005                 2744
           08006                  677
           08007                 4592
           08008                 4258
           08009                  689
           08010                 4197
           08011                 2635
           08012                  159
           08013                  807
           08014                 3233
           08015                 1094
           08017                  210
           08018                 2107
           08019                 3813
           08021                  524
           08022                  161
           08023                  525
           08025                  569
           08026                 1061
           08028                 1397
           08029                 1301
           08034                  288
           08035                  383
           08036                 1275
           08037                 1120
           08038                  229
           08039                 1657
           08040                  572
           08950                  125
London     E1 1HH                 313
           E1 2BP                 377
           E1 4LJ                 114
           E1 6BX                 345
           E1 6JQ                 514
           E1 6TE                 781
           E1 8GP                 690
           E14 0AE                 40
           E14 4ED               1481
           E14 8RS                138
           E14 9JB               1148
           E14 9SH               1541
           E14 9SJ               4789
           E14 9TP                146
           E15 2TF                588
           E16 1AA                574
           E16 1AL               1579
           E16 1FA                541
           E16 1FR               1126
           E16 1RH               1464
           E1W 1LD               1828
           E2 7DD                  12
           E2 8PP                 893
           E20 1GL               1484
           E8 1EN                 140
           E8 3AH                 166
           EC1M 5RJ               177
           EC1M 6AH               763
           EC1M 6DS               261
           EC1R 5DJ               130
           EC1V 1JS              2155
           EC1V 4JJ                31
           EC1V 9LL               259
           EC1Y 4SB               740
           EC1Y 4SD              1317
           EC2A 1DX               715
           EC2A 3ET               838
           EC2A 3HU               679
           EC2A 4PJ                30
           EC2M 2AF               326
           EC2M 7QN               519
           EC2R 7NJ               437
           EC2R 8AJ               257
           EC2R 8AY               196
           EC3A 6AP               520
           EC3N 1LS               346
           EC3N 1NU               969
           EC3N 2BQ               405
           EC3N 2NR               389
           EC3N 4AF              3212
           EC3N 4AX              1049
           EC3N 4DJ              1683
           EC3V 0DR              1103
           EC4M 7DR              1606
           EC4V 5AJ              1154
           EC4V 6DB               214
           EC4Y 1LL              1037
           HA9 0BU               2227
           HA9 0NP               1251
           HA9 8AU               1212
           HA9 8DS               1848
           IG8 8AE                463
           IG8 9NY                328
           N1 0UY                 658
           N1 9LA                 909
           N1C 4TB                620
           N4 1DA                 223
           NW1 2AJ               1242
           NW1 2AR               1147
           NW1 2EZ               1117
           NW1 2LP               1214
           NW1 3UP                656
           NW1 6DX                851
           NW1 6JQ                405
           NW1 6QN                123
           NW1 7BY                740
           NW2 1LP                433
           NW2 2NL                949
           NW2 3ED               1079
           NW3 3ST                752
           NW4 2EU                101
           NW6 5RP                451
           NW6 5SB                816
           NW8 7JT                593
           SE1 0JA                414
           SE1 0NZ               1517
           SE1 0UG                893
           SE1 2BY                801
           SE1 2JR                 62
           SE1 3UN                399
           SE1 7DP                552
           SE1 7JD                 84
           SE1 7LS                287
           SE1 7PB                233
           SE1 7RY               2223
           SE1 7TJ               2167
           SE1 7UT               4169
           SE1 8NZ                428
           SE1 8RQ                484
           SE1 9HH                312
           SE1 9PD               1593
           SE1 9QU               1113
           SE1 9SG                167
           SE10 0TW              2551
           SE10 8BB               972
           SE10 8JA               504
           SE10 8NA               664
           SE10 9JW              1130
           SE11 5AL               244
           SE16 5HW              2147
           SW10 0XG               550
           SW11 3BE               589
           SW11 3RF               774
           SW14 7RT               162
           SW15 2RN               297
           SW19 4JZ               260
           SW19 4UE               289
           SW1A 1LP               135
           SW1A 1NJ               200
           SW1A 1NY                74
           SW1A 2BD               213
           SW1A 2EJ               974
           SW1A 2TS               363
           SW1E 5BW               601
           SW1E 6AF              2203
           SW1H 0BH               358
           SW1H 0QW               384
           SW1P 2PA               792
           SW1P 4DD              1243
           SW1V 1EQ              1443
           SW1V 1PB               172
           SW1V 1QA              1063
           SW1V 2BJ               957
           SW1V 4DG               328
           SW1V 4JE                95
           SW1W 0JW               102
           SW1W 0LU               180
           SW1W 0PS               868
           SW1W 0SJ              1517
           SW1W 8EG               462
           SW1X 7DJ                29
           SW1X 7LA                85
           SW1X 7LY                77
           SW1X 7RL               100
           SW1X 7RN               275
           SW1X 7TA                31
           SW1X 8HQ               235
           SW1X 9ES               184
           SW1X 9NU              1007
           SW1X 9PY                76
           SW1Y 4AN               352
           SW1Y 4HX               121
           SW1Y 6JF               416
           SW3 1AS                 63
           SW3 1AT                145
           SW3 1PP                210
           SW3 1PT                173
           SW3 2BX                 76
           SW3 2DB                 28
           SW3 2RJ                159
           SW3 2RP                129
           SW3 2SH                122
           SW3 3QX                418
           SW3 6PU                258
           SW5 0EN                419
           SW5 0EW                353
           SW5 0LA                160
           SW5 0PG                491
           SW5 0QQ               2059
           SW5 0SF                552
           SW5 0SW                225
           SW5 0TH                189
           SW5 0TL                296
           SW5 0TP                285
           SW5 9NB                566
           SW5 9NJ                851
           SW5 9PD                776
           SW5 9TT                549
           SW6 1HS                877
           SW6 2GA                550
           SW7 1DW                 37
           SW7 2DL                807
           SW7 2EA                804
           SW7 2LA                277
           SW7 2RS                712
           SW7 3EG                 87
           SW7 3ER                382
           SW7 3PF                 76
           SW7 4DN               1502
           SW7 4DP                239
           SW7 4DS                502
           SW7 4ER                305
           SW7 4JX                198
           SW7 4LH               2565
           SW7 4PE                496
           SW7 4QH               1018
           SW7 5AB                231
           SW7 5AG               1009
           SW7 5BB                114
           SW7 5BT               1298
           SW7 5EX                521
           SW7 5JA               1103
           SW7 5JW                310
           SW7 5LR                333
           SW7 5NB                448
           SW8 4AE                710
           W10 6HQ                131
           W11 2NG                 99
           W11 4UL               1845
           W12 7JS                531
           W12 8LP                405
           W12 8QE               1266
           W13 8PH                391
           W14 0AX                762
           W14 0QL                381
           W14 8BN                459
           W14 8NL                889
           W14 8RP                115
           W1B 1JA                559
           W1B 2QS                728
           W1B 4DY                364
           W1B 5NF                193
           W1C 1BY                555
           W1D 3BR                491
           W1D 3DH                157
           W1D 3JA                241
           W1D 3JG                390
           W1D 6BZ                568
           W1D 6EX               1125
           W1D 6QF                267
           W1D 7DT                141
           W1F 7HL                867
           W1G 8DN                677
           W1G 9BL                484
           W1H 2ER                111
           W1H 5BJ                726
           W1H 5DN                480
           W1H 6PA                573
           W1H 7BG                868
           W1H 7BH                256
           W1H 7BY                425
           W1H 7DL               1809
           W1H 7EH               1262
           W1H 7FD                191
           W1H 7JB                 82
           W1H 7JW                435
           W1H 7LG                289
           W1H 7QR                266
           W1H 7TA                561
           W1H 7TN               1061
           W1J 0BH                260
           W1J 5EB                482
           W1J 5HL                699
           W1J 7BH                499
           W1J 7BJ                189
           W1J 7BN                484
           W1J 7BS               1057
           W1J 7BX                115
           W1J 7DR                 91
           W1J 7QY                160
           W1J 8LT                800
           W1J 8NE                647
           W1J 9BR                406
           W1K 1BE                331
           W1K 1LB                143
           W1K 1PN                 28
           W1K 1QA                225
           W1K 2AL                 45
           W1K 2HP               1253
           W1K 4HJ                157
           W1K 6JP                256
           W1K 6TF                120
           W1K 7AA                 78
           W1K 7TN                344
           W1S 2YF                289
           W1S 4BP                 49
           W1T 1LB                354
           W1T 1RJ                141
           W1T 3NG                324
           W1T 3NP                141
           W1T 5AY               1354
           W1U 2BE                846
           W1U 4DG                218
           W1U 5LG                125
           W1U 5LT                247
           W1U 6HN                712
           W1U 6LJ                592
           W1U 8JE                122
           W1W 5EE                826
           W1W 5NB                455
           W1W 6BU                296
           W2 1EA                 220
           W2 1EE                1167
           W2 1HL                 268
           W2 1HU                 634
           W2 1JU                2628
           W2 1QW                1531
           W2 1TS                 221
           W2 1UH                1095
           W2 2TY                 651
           W2 3AN                3285
           W2 3BA                1770
           W2 3BE                 317
           W2 3DN                 278
           W2 3DP                2288
           W2 3DQ                 275
           W2 3DU                 556
           W2 3HL                 862
           W2 3JN                 292
           W2 3JP                2958
           W2 3LB                1029
           W2 3LG                1938
           W2 3NA                1779
           W2 3NR                 299
           W2 3PF                 236
           W2 3UL                 146
           W2 3UY                1546
           W2 4DU                 340
           W2 4NP                 967
           W2 4PS                 876
           W2 4RJ                 259
           W2 4RT                 945
           W2 6BD                 391
           W2 6DA                 289
           W2 6QA                 819
           W3 0TA                 197
           W3 6RT                 701
           W3 9NX                  86
           W4 5RY                 922
           W5 1HG                 413
           W5 3HL                 385
           W5 3HN                 680
           W5 5AA                 128
           W6 0QW                 743
           W6 0SA                 342
           W6 8DR                1283
           W8 4PT                 874
           W8 5DL                  86
           W8 5JE                 235
           W8 5JJ                 442
           W8 5NP                 310
           W8 5PQ                 269
           W8 5SP                2768
           W8 5SY                3578
           W8 6SA                 374
           W9 1ER                 201
           WC1A 2SD               709
           WC1B 3HD               463
           WC1B 3LB               942
           WC1B 3NN               539
           WC1B 3QD               886
           WC1B 4AR               361
           WC1B 4BH               926
           WC1B 5AF               602
           WC1B 5BE              1425
           WC1B 5BJ               414
           WC1B 5BP               173
           WC1B 5BU               210
           WC1B 5JH               321
           WC1B 5JR               369
           WC1B 5JT                49
           WC1E 6HE               248
           WC1E 6HG              1531
           WC1E 6HJ               920
           WC1H 0HT               470
           WC1H 0HX               768
           WC1H 8AB               800
           WC1H 8EP               442
           WC1N 1HT              1216
           WC1N 2AD               466
           WC1V 7BD               755
           WC1V 7EN               390
           WC1X 9HX              1007
           WC2A 3JW              1139
           WC2B 4BZ               136
           WC2B 4DD               800
           WC2B 5BX               683
           WC2B 5QZ               733
           WC2E 8QH                27
           WC2H 7HG               467
           WC2H 7LH               697
           WC2H 9HB                74
           WC2H 9HD               767
           WC2N 4HX               492
           WC2N 5BY              1678
           WC2N 5HX               785
           WC2R 0EU               540
           WC2R 0JJ              4256
           WC2R 1HA               471
Milan      10 20157                78
           11 20153                26
           121 20138              189

In [19]:
#pd.DataFrame([bourough.split()[:-4] for bourough in hotel.hotel_address[hotel.city == 'London']]).value_counts(dropna=False)

In [20]:
# pd.DataFrame([bourough.split()[:-5] for bourough in hotel.hotel_address[hotel.city == 'Barcelona']]).value_counts()

In [21]:
# pd.DataFrame([bourough.split()[:-5] for bourough in hotel.hotel_address[hotel.city == 'Paris']]).value_counts()

In [22]:
# pd.DataFrame([bourough.split()[:-5] for bourough in hotel.hotel_address[hotel.city == 'Amsterdam']]).value_counts()

In [23]:
# pd.DataFrame([bourough.split()[:-5] for bourough in hotel.hotel_address[hotel.city == 'Vienna']]).value_counts()

In [24]:
# pd.DataFrame([bourough.split()[:-5] for bourough in hotel.hotel_address[hotel.city == 'Milan']]).value_counts()

In [25]:
# hotel[['city','zip_code']].value_counts().sort_index()

### Review Lengths

In [26]:
# Length of negative review
len(hotel.negative_review[0].split())

52

In [27]:
# Given length of negative review seems wrong and should be investigated further
hotel.review_total_negative_word_counts[0]

54

### Tags

In [28]:
# pd.Series([len(tags.split(',')) for tags in hotel.tags]).value_counts().sort_index()

In [29]:
# hotel.tags[0][0]

In [30]:
#[tags for tags in hotel.tags]

In [31]:
# [tag[1] for tag in hotel.tags if len(tag) == 6]
# len([tag for tag in hotel.tags if len(tag) == 5])
# len([tag for tag in hotel.tags if len(tag) == 4])
# len([tag for tag in hotel.tags if len(tag) == 3])
# len([tag for tag in hotel.tags if len(tag) == 2])
# len([tag for tag in hotel.tags if len(tag) == 1])

### NLP Features

#### Sentiment

#### Topic Model

#### TF-IDF

# Explore

In [32]:
# hotel.head(1)

In [33]:
# hotel.describe()

In [34]:
# hotel.info()

## Univariate

### Mising Values

In [35]:
# print nulls per row
# [print(f'{col}:{hotel[col].isnull().sum()}') for col in  hotel.columns] # How to format better

### No valid review

In [36]:
hotel.negative_review[2]

' Nothing'

In [37]:
(hotel.positive_review == 'No Positive').mean()

0.0696981800836859

In [38]:
(hotel.positive_review == ' Nothing').mean()

0.002410138481166794

In [39]:
(hotel.negative_review == 'No Negative').mean()

0.24797474686759557

In [40]:
(hotel.negative_review == ' Nothing').mean()

0.02771756201792383

In [41]:
# Unique Values per column
# for col in hotel.columns:
#     print(f'{col} Counts:{hotel[col].nunique()}')

In [42]:
hotel.head(1)

,additional_number_of_scoring,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,days_since_review,lat,lng,trip_type,nights_stayed,group_type,month,year,day_name,day,quarter,negative_unique_word_count,positive_unique_word_count,street,city,zip_code,country
review_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-08-04,1485,7.5,Hilton London Metropole,United Kingdom,First day the swimming pool was not opened therefore i could not access the facilities Finaly the receptionist fid not clarify that i would unable to move my car and did not stamp my car parking so i can come in and out Therefore i had to pay 50 for one day,54,6977,The hotel was clean and accessible,8,4,7.5,730,51.519569,-0.170521,leisure,2,group,August,2015,Tuesday,4,3,39,6,225 Edgware Road Westminster Borough,London,W2 1JU,United Kingdom

In [43]:
hotel.to_csv('hotel.csv')