In [75]:
import pandas as pd
import wrangle
pd.options.display.max_rows = None
pd.options.display.max_columns = None
pd.options.display.max_colwidth = None

In [2]:
hotel = wrangle.wrangle_hotel()

Using cached file...

In [191]:
hotel.head(1)

,review_date,month_name,month,year,day_name,day,quarter,hotel_name,street,city,zip_code,country,lat,lng,additional_number_of_scoring,average_score,total_number_of_reviews,reviewer_nationality,trip_type,nights_stayed,group_type,total_number_of_reviews_reviewer_has_given,reviewer_score,nps_group,days_since_review,neg_sentiment_score,neg_lem_sentiment_score,review_total_negative_word_counts,negative_unique_word_count,pos_sentiment_score,review_total_positive_word_counts,positive_unique_word_count,pos_lem_sentiment_score,negative_review,negative_clean_review,negative_lemma,positive_review,positive_clean_review,positive_lemma,positive_topic,negative_topic
0,2015-08-04T00:00:00.000Z,August,8,2015,Tuesday,4,3,Hilton London Metropole,225 Edgware Road Westminster Borough,London,W2 1JU,United Kingdom,51.519569,-0.170521,1485,7.5,6977,United Kingdom,leisure,2.0,group,4,7.5,passive,730,-0.1027,-0.1027,54,39,0.4019,8,6,0.4019,First day the swimming pool was not opened therefore i could not access the facilities Finaly the receptionist fid not clarify that i would unable to move my car and did not stamp my car parking so i can come in and out Therefore i had to pay 50 for one day,first day swimming pool opened therefore could access facilities finaly receptionist fid clarify would unable move car stamp car parking come therefore pay 50 one day,first day swimming pool opened therefore could access facility finaly receptionist fid clarify would unable move car stamp car parking come therefore pay 50 one day,The hotel was clean and accessible,hotel clean accessible,hotel clean accessible,location,facilities

# Pos and Negative top words

In [3]:
# pos_lemma = ' '.join(hotel.positive_lemma)

In [4]:
# neg_lemma = ' '.join(hotel.negative_lemma)

In [5]:
# pos_lemma_split = pos_lemma.split()

In [6]:
# neg_lemma_split = neg_lemma.split()

In [10]:
# pos_uni_df = pd.DataFrame(pos_lemma_split).value_counts()

In [11]:
# neg_uni_df = pd.DataFrame(neg_lemma_split).value_counts()

In [17]:
# pd.DataFrame(pos_uni_df).head(200)

In [19]:
# pd.DataFrame(neg_uni_df).head(200)

# Topics

In [284]:
def top_topic(review):
    staff_words = ['staff','friendly','helpful','reception','maids','attentive','concierge','service','receptionist']
    
    location_words = ['location','located','view','area','metro','city','central','centre','center','train','access','walk',
                      'public','transport','transportation','downtown','accessible','station','convenient','shop','distance']
    
    room_words = ['room','bed','matress','bathroom','spacious','shower','suite','pillow','bedroom','conditioning','bathtub',
                  'conditioned','double','twin','size','single','noise','tv','bath','carpet','tile','noisy','small','furniture','quiet']
    
    facilities_words = ['facilities','breakfast','security','buffet','restaurant','bar','coffee','tea','pool','wifi','facility',
                        'parking','lobby','lounge','drink','hall','corridor','menu','storage','order']
    
    value_words = ['value','money','cheap','cheapest','expensive','price','priced']
    
    hotel_words = ['hotel']
    
    comfort_words = ['nothing','everything','atmosphere','good','comfortable','comfort','uncomfortable','pretty','clean','experience']

    topic_dict = {'staff':staff_words,'location':location_words,'room':room_words,'facilities':facilities_words,
                  'value':value_words,'hotel':hotel_words,'comfort':comfort_words}
    
    topic_count = {'staff' : 0, 'location' : 0, 'room' : 0, 'facilities' : 0, 'value' : 0, 'hotel': 0, 'comfort': 0}
    
    if review == '':
        return 'blank'
    
    for word in review.split():
        if word in topic_dict['staff']:
            topic_count['staff'] += 1
        elif word in topic_dict['location']:
            topic_count['location'] += 1
        elif word in topic_dict['room']:
            topic_count['room'] += 1
        elif word in topic_dict['facilities']:
            topic_count['facilities'] += 1
        elif word in topic_dict['value']:
            topic_count['value'] += 1
        elif word in topic_dict['hotel']:
            topic_count['hotel'] += 1
        elif word in topic_dict['comfort']:
            topic_count['comfort'] += 1
    
    if all(value == 0 for value in topic_count.values()):
        return 'no_topic'
    
    else:
        return max(topic_count, key = topic_count.get)

In [285]:
hotel['positive_topic'] = hotel.positive_lemma.apply(top_topic)
hotel['negative_topic'] = hotel.negative_lemma.apply(top_topic)

In [286]:
hotel.positive_topic.value_counts(dropna=False)

staff         162772
location      128750
room           84724
blank          36624
comfort        34815
facilities     30768
no_topic       20973
hotel          11955
value           4357
Name: positive_topic, dtype: int64

In [287]:
hotel.negative_topic.value_counts(dropna=False)

room          162694
blank         153094
facilities     59226
no_topic       44340
staff          33874
location       25986
comfort        17493
hotel          10938
value           8093
Name: negative_topic, dtype: int64

In [288]:
hotel.positive_lemma[hotel.positive_topic == 'no_topic'].head(10)

134            stayed ride london well prepared
197                 proximity kensington garden
208                                  evry thing
273                                       thank
291    upgrade lovely surprise cake anniversary
293                                     recipnt
408                      every thing else great
451                              excellent stay
542                     felt whole place shoddy
594        luxury lovely people heart amsterdam
Name: positive_lemma, dtype: object

In [289]:
hotel.negative_lemma[hotel.negative_topic == 'no_topic'].head(10)

23                                                                                                                                                                                                                                                                              leave
186                                                                                                                                                                                         casual dining available resturant short jean ant shirt acceptable needed folk vacationing
214                                                                                                                                                                                                                                               sum expense time book print booking
232                                                                                                                                                                                                                                      spare phone charger plug converter available
381                                                                                                                                                                                                                                                                       window open
386    alzheimers early onset tried pay online four people party hour confusion desk people trying process card make several phone call bank told card fine could processed normally happen caused lot stress anxiety one day leaving london avoid stress confrontation eventful hour
406                                                                                                                                                                                                                                                                 kettle lack pkugs
411                                                                                                                                                                                                                                                            found bit odd basement
441                                                                                                                                                                                                                                                                           air con
451                                                                                                                                                                                                                                                                         complaint
Name: negative_lemma, dtype: object